@{
    ViewBag.Title = "Home Page";
}@{ Html.RenderPartial("_TView");}
<main>


    <div class="row">
        <section class="row">
            <h4 id="title">Stump Mic podcast: A dramatic U-turn, a Caribbean shocker, and a Test transition</h4>
            <p class="lead">

                The Stump Mic crew discusses the drama in Bangladesh cricket, India's first Test in the West Indies, and more
            </p>
        </section>
        <section class="row">
            <h4>How many players have scored a century and taken a five-for in an ODI as Bas de Leede did?</h4>
            <p>
                And is Mitch Marsh the only man to score a century and take a wicket on the first day of a Test?
            </p>
        </section>

        <section class="row">
            <h4 id="librariesTitle">Sri Lanka in ODIs: aye to bowlers and opening batters, nay to everything else</h4>
            <p>

                Hasaranga, Theekshana continue to sizzle but Shanaka's form and frailties in the batting unit remain concerns
            </p>
        </section>
        <section class="row">
            <h4 id="hostingTitle">Sri Lanka and Netherlands head to World Cup with questions left to answer</h4>
            <p>

                Sri Lanka need to work on their batting in the death overs while Netherlands could do with some fixtures in the subcontinent, and a sponsor or two won't hurt
            </p>
        </section>
    </div>
</main>


